
<div class="row">
    <div class="col-xs-12">
        <h2>Bank Accounts</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Asset Accounts</div>
            <div class="panel-body">
                <table class="table table-bordered clear-background rounded">
                    <thead>
                        <tr class="heading">
                            <th>Name</th>
                            <th>Institution</th>
                            <th>Account Type</th>
                            <th>Category</th>
                            <th>Balance At Budget Start</th>
                            <th>Current Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="bankAccount in vm.assetAccounts">
                            <td> {{ bankAccount.name }} </td>
                            <td> {{ bankAccount.institution.name }} </td>
                            <td> {{ bankAccount.account_type }} </td>
                            <td> {{ bankAccount.account_category }} </td>
                            <td class="text-right"> {{ bankAccount.closing_balance | ecToDollars }} </td>
                            <td class="text-right"> {{ bankAccount.current_balance | ecToDollars }} </td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="total">
                            <th class="text-right" colspan="4">Total</th>
                            <th class="text-right">
                                {{ vm.util.total(vm.assetAccounts, 'closing_balance') | ecToDollars }}
                            </th>
                            <th class="text-right">
                                {{ vm.util.total(vm.assetAccounts, 'current_balance') | ecToDollars }}
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Liability Accounts</div>
            <div class="panel-body">
                <table class="table table-bordered clear-background rounded">
                    <thead>
                        <tr class="heading">
                            <th>Name</th>
                            <th>Institution</th>
                            <th>Account Type</th>
                            <th>Category</th>
                            <th>Balance At Budget Start</th>
                            <th>Current Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="bankAccount in vm.liabilityAccounts">
                            <td> {{ bankAccount.name }} </td>
                            <td> {{ bankAccount.institution.name }} </td>
                            <td> {{ bankAccount.account_type }} </td>
                            <td> {{ bankAccount.account_category }} </td>
                            <td class="text-right"> {{ bankAccount.closing_balance | ecToDollars }} </td>
                            <td class="text-right"> {{ bankAccount.current_balance | ecToDollars }} </td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="total">
                            <th class="text-right" colspan="4">Total</th>
                            <th class="text-right">
                                {{ vm.util.total(vm.liabilityAccounts, 'closing_balance') | ecToDollars }}
                            </th>
                            <th class="text-right">
                                {{ vm.util.total(vm.liabilityAccounts, 'current_balance') | ecToDollars }}
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       <h3 class="net-worth text-right">
            Net Worth: &nbsp; <ec-amount-formatted amount="vm.netWorth()">
                       </ec-amount-formatted>
       </h3>
    </div>
</div>
<br/>

