
<div class="row">
    <div class="col-xs-6">
        <h2>Account Balances</h2>
    </div>
    <div class="col-xs-6">
        <div class="text-right">
                <label>
                    <input type="checkbox"
                           ng-click="vm.refresh()"
                           ng-model="vm.searchParams.include_closed" />
                    Include Closed Accounts?
                </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ec-panel type="primary" title="Current Accounts">
            <ec-account-balance-list bank-accounts="vm.currentAccounts">
            </ec-account-balance-list>
        </ec-panel>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ec-panel type="primary" title="Cash Assets">
            <ec-account-balance-list bank-accounts="vm.cashAssetAccounts">
            </ec-account-balance-list>
        </ec-panel>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ec-panel type="primary" title="Non Cash Assets">
            <ec-account-balance-list bank-accounts="vm.nonCashAssetAccounts">
            </ec-account-balance-list>
        </ec-panel>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4 class="net-worth text-right">
            Total Assets: &nbsp; <ec-amount-formatted amount="vm.totalAssets(vm.bankAccounts)">
        </ec-amount-formatted>
        </h4>
    </div>
</div>

<hr>
<br/>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <ec-panel type="primary" title="Credit Cards">
                <ec-account-balance-list bank-accounts="vm.creditCardAccounts">
                </ec-account-balance-list>
            </ec-panel>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <ec-panel type="primary" title="Loans">
                <ec-account-balance-list bank-accounts="vm.loanAccounts">
                </ec-account-balance-list>
            </ec-panel>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4 class="net-worth text-right">
            Total Liabilities: &nbsp; <ec-amount-formatted amount="vm.totalLiabilities(vm.bankAccounts)">
        </ec-amount-formatted>
        </h4>
    </div>
</div>
<br/>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h4 class="net-worth text-right">
            Net Current Cash: &nbsp; <ec-amount-formatted amount="vm.netCurrentCash(vm.bankAccounts)">
        </ec-amount-formatted>
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4 class="net-worth text-right">
            Net Cash Assets: &nbsp; <ec-amount-formatted amount="vm.netCashAssets(vm.bankAccounts)">
        </ec-amount-formatted>
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4 class="net-worth text-right">
            Net Non Cash Assets: &nbsp; <ec-amount-formatted amount="vm.netNonCashAssets(vm.bankAccounts)">
        </ec-amount-formatted>
        </h4>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
       <h3 class="net-worth text-right">
            Net Worth: &nbsp; <ec-amount-formatted amount="vm.netWorth(vm.bankAccounts)">
                       </ec-amount-formatted>
       </h3>
    </div>
</div>
<br/>

