
<div class="row">
    <div class="col-xs-6">
        <h2>Account Balances</h2>
    </div>
    <div class="col-xs-6">
        <div class="text-right">
                <label>
                    <input type="checkbox"
                           ng-click="vm.refresh()"
                           ng-model="vm.searchParams.include_closed" />
                    Include Closed Accounts?
                </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ec-panel type="primary" title="Asset Accounts">
            <ec-account-balance-list bank-accounts="vm.assetAccounts">
            </ec-account-balance-list>
        </ec-panel>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <ec-panel type="primary" title="Liability Accounts">
                <ec-account-balance-list bank-accounts="vm.liabilityAccounts">
                </ec-account-balance-list>
            </ec-panel>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       <h3 class="net-worth text-right">
            Net Worth: &nbsp; <ec-amount-formatted amount="vm.netWorth()">
                       </ec-amount-formatted>
       </h3>
    </div>
</div>
<br/>

