
<div class="form-group" ng-class="{'has-error': vm.error.server }">
    <label class="col-xs-{{ vm.labelWidth }} control-label">{{ vm.label }}</label>
    <div class="col-xs-{{ vm.fieldWidth }}">

        <ng-switch on="vm.type">
        <!-- use a select element if type='select' -->
        <select ng-switch-when="select"
                name="vm.fieldName"
                ng-model="vm.model"
                ng-change="vm.change"
                ng-required="vm.isRequired"
                ng-options="item.id as item.name for item in vm.items"
                class="form-control">
        </select>

        <!-- use a number element with conversion to dollars element if type='dollars' -->
        <input ng-switch-when="dollars"
               type="text"
               name="vm.fieldName"
               ng-model="vm.model"
               ng-change="vm.change"
               class="form-control"
               ec-as-dollars
               ng-required="vm.isRequired"
               placeholder="{{ vm.placeholder }}">
        </input>

        <!-- otherwise use a normal input element -->
        <input ng-switch-default
               type="{{ vm.type }}"
               name="vm.fieldName"
               ng-model="vm.model"
               min="vm.min"
               max="vm.max"
               step="vm.step"
               ng-change="vm.change"
               class="form-control"
               ng-required="vm.isRequired"
               placeholder="{{ vm.placeholder }}">
        </input>
        </ng-switch>
        <p class="help-block">{{ vm.error.server }}</p>
    </div>
</div>
