
<div class="form-group" ng-class="{'has-error': vm.error.server }">
    <label class="col-xs-{{ vm.labelWidth }} control-label">{{ vm.label }}</label>
    <div ng-switch on="vm.type" class="col-xs-{{ vm.fieldWidth }}">

        <!-- use a select element if type='select' -->
        <select ng-switch-when="select"
                name="vm.fieldName"
                ng-model="vm.model"
                ng-required="vm.isRequired"
                ng-options="{{vm.modelType}}.id as {{vm.modelType}}.name for {{vm.modelType}} in vm.lookup.{{vm.modelType}}s"
                class="form-control">
        </select>

        <!-- otherwise use a normal input element -->
        <input ng-switch-default
               type="{{ vm.type }}"
               name="vm.fieldName"
               ng-model="vm.model"
               class="form-control"
               ng-required="vm.isRequired"
               placeholder="{{ vm.placeholder }}">
        </input>
        </ng-switch>
        <p class="help-block">{{ vm.error.server }}</p>
    </div>
</div>
