<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" novalidate
            name="vm.settingsForm"
            ng-submit="vm.saveSettings(vm.settings, vm.settingsForm)">
            <ec-panel type="primary" title="Update Settings">

                <ec-form-field label="Bank Charges Allocation Name"
                               label-width="4"
                               name="bank_charges_allocation_name"
                               error="vm.settingsForm.bank_charges_allocation_name.$error"
                               field-width="6"
                               type="text"
                               ng-required="true"
                               ng-model="vm.settings.bank_charges_allocation_name">
                </ec-form-field>

                <ec-form-field label="Primary Budgeting Account"
                               label-width="4"
                               name="primary_budget_account_id"
                               error="vm.settingsForm.primary_budget_account_id.$error"
                               field-width="6"
                               type="select"
                               list-of="bank_accounts"
                               ng-model="vm.settings.primary_budget_account_id">
                </ec-form-field>

                <div class="form-group" ng-hide="vm.isEditMode">
                    <div class="col-xs-offset-4 col-xs-2">
                      <button type="button"
                              class="btn btn-primary"
                              ng-click="vm.switchToEditMode()">
                          Change Settings
                      </button>
                    </div>
                </div>
                <div class="form-group" ng-show="vm.isEditMode">
                    <div class="col-xs-offset-4 col-xs-6">
                      <button type="submit" class="btn btn-success">Save</button>
                      &nbsp;
                      &nbsp;
                      <button type="button" class="btn btn-danger" ng-click="vm.cancelEdit()">Cancel</button>
                    </div>
                </div>
            </ec-panel>
        </form>
    </div>
</div>
