
<div class="row">
    <div class="col-xs-12">
        <h2>Banking Institutions</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="institution in vm.institutions">
            {{ $index + 1 }}. {{ institution.name }}

                <span ng-click="vm.deleteInstitution(institution)"
                      class="text-danger pull-right pointer">
                    <ec-icon type="trash"></ec-icon>
                </span>


                <span ng-click="vm.selectInstitutionForUpdate(institution)"
                      class="text-warning pull-right pointer">
                    <ec-icon type="edit"></ec-icon>
                    &nbsp;
                    Edit
                    &nbsp; &nbsp; &nbsp;
                </span>

            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-1" ng-show="vm.state.is('institutions')">
        <button class="btn btn-primary"
                ng-click="vm.state.goToState('institutions.new')">
            Add New Institution
        </button>
    </div>
    <div class="col-xs-1" ng-show="vm.state.is('institutions.new')">
        <button class="btn btn-default"
                ng-click="vm.state.goToState('institutions')">
            Cancel
        </button>
    </div>
</div>

<br/>

<ui-view></ui-view>
