
<div class="row">
    <div class="col-xs-12">
        <h2>Current Institutions</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ol>
            <li ng-repeat="institution in vm.institutions">
                {{ institution.name }}
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" ng-submit="vm.addInstitution(vm.institution)">
            <ec-panel type="primary" title="Add an Institution">
                <ec-form-field label="Name" label-width="2"
                               field-width="6"
                               placeholder="Institution's name"
                               type="text"
                               ng-required="true"
                               ng-model="vm.institution.name">
                </ec-form-field>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-6">
                      <button type="submit" class="btn btn-primary">Add Institution</button>
                    </div>
                </div>
            </ec-panel>
        </form>
    </div>
</div>
