
/* angular-bootstrap fixes for cursors */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

div.main-display{
  border-radius: 10px;
  background: #e0e4ea;
  margin-top: 65px;
}

div.container h2{
  font-size: 36px;
  color: rgb(198, 21, 76);
}

table.fixed-layout{
  table-layout: fixed;
}

table.fixed-layout td input,
table.fixed-layout td select{
  width: 100%;
}

.panel-heading{
  font-weight: bold;
}

body{
  background-color: #72A887;
}

.pointer{
  cursor: pointer;
}

.heading{
  border-bottom: 3px solid black;
  font-weight:bold;
  font-size: 1.1em;
}

.total{
  border-top: 2px solid black;
  font-weight:bold;
  font-size: 1.2em;
}

.positive{
  color: green;
}

.negative{
  color: red;
  font-weight: bold;
}

.clear-background{
  background-color: white;
}

.rounded{
  border-radius: 10px;
}

.bigger{
  font-size: 1.1em;
}

.smaller{
  font-size: 0.8em;
}

.pointer:hover{
  font-weight: bold;
  font-size:1.1em;
}

/* Global animations */
.animate.ng-enter, .ng-move{
	-webkit-animation: fadeInLeft .5s;
	-moz-animation: fadeInLeft .5s;
	-o-animation: fadeInLeft .5s;
	animation: fadeInLeft .5s;
}

.animated.ng-leave{
	-webkit-animation: fadeOut .5s;
	-moz-animation: fadeOut .5s;
	-o-animation: fadeOut .5s;
	animation: fadeOut .5s;
}

.animate-down.ng-enter, .animate-down.ng-hide-remove{
	-webkit-animation: fadeInDown .5s;
	-moz-animation: fadeInDown .5s;
	-o-animation: fadeInDown .5s;
	animation: fadeInDown .5s;
}

.animate-down.ng-leave, .animate-down.ng-hide-add{
	-webkit-animation: fadeOutUp .5s;
	-moz-animation: fadeOutUp .5s;
	-o-animation: fadeOutUp .5s;
	animation: fadeOutUp .5s;
}


/* change color of loading bar */
#loading-bar .bar {
  background-color: red;
}

/*-----------------------------------------------------*/
/*FOOTER                                               */
/*-----------------------------------------------------*/
footer {
  margin-top: 30px;
}

.footer-container{
  border-top: 2px solid black;
}

footer,
footer .container h5 a,
footer .container ul li a {
}
footer h5 {
  font-size: 18px;
  margin-bottom: 5px;
}
footer p,
footer nav ul li a {
  font-family: 'IntervalLight';
  font-size: 11px;
}
.footer-nav ul li {
  float: left;
  margin-right: 25px;
}
