
/* angular-bootstrap fixes for cursors */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

div.main-display{
  border-radius: 10px;
  background: #e0e4ea;
  margin-top: 65px;
}

div.container h2{
  font-size: 36px;
  color: rgb(198, 21, 76);
}


.panel-heading{
  font-weight: bold;
}

body{
  background-color: #72A887;
}

.pointer{
  cursor: pointer;
}


/*-----------------------------------------------------*/
/*FOOTER                                               */
/*-----------------------------------------------------*/
footer {
  margin-top: 30px;
}

.footer-container{
  border-top: 2px solid black;
}

footer,
footer .container h5 a,
footer .container ul li a {
}
footer h5 {
  font-size: 18px;
  margin-bottom: 5px;
}
footer p,
footer nav ul li a {
  font-family: 'IntervalLight';
  font-size: 11px;
}
.footer-nav ul li {
  float: left;
  margin-right: 25px;
}
