:root {
  font-family: 'Roboto', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}

/* utility classes */
.right {
  text-align: right;
}

.ec-deleted {
  opacity: 0.4;
  text-decoration: line-through;
}
