<div class="row">
    <div class="col-xs-12">
        <h3>Edit Sink Fund: {{ vm.sinkFund.name }}</h3>
    </div>
</div>

<ec-panel title="Edit Sub Accounts for: {{ vm.sinkFund.name }}" type="primary">
    <table class="table table-bordered rounded fixed-layout">
    <thead>
        <tr class="heading">
            <th style="width:25%;">Name</th>
            <th style="width:15%;" class="text-right">Amount</th>
            <th style="width:25%;" class="hidden-xs">Comment</th>
            <th style="width:5%;"></th>
        </tr>
    </thead>
    <tfoot>
        <tr class="total">
            <th> Total </th>
            <th class="text-right">
                {{ vm.util.total(vm.sinkFund.sub_accounts, 'amount') | ecToDollars }}
            </th>
            <th class="text-right">
                Unassigned: &nbsp; &nbsp; <ec-amount-formatted amount="vm.unassignedBalance()"></ec-amount-formatted>
            </th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="subAccount in vm.sinkFund.sub_accounts" ng-class="{ danger: subAccount.deleted }" >
            <td>
                <span ng-hide="vm.isEditMode" ng-bind="subAccount.name"> </span>
                <input type="text" ng-show="vm.isEditMode" ng-model="subAccount.name" name="name"></input>
            </td>
            <td class="text-right">
                <span ng-hide="vm.isEditMode" ng-bind="subAccount.amount | ecToDollars"></span>
                <input type="text" ng-show="vm.isEditMode" ng-model="subAccount.amount" ec-as-dollars></input>
            </td>
            <td>
                <span ng-hide="vm.isEditMode" ng-bind="subAccount.comment"></span>
                <input type="text" ng-show="vm.isEditMode" ng-model="subAccount.comment"></input>
            </td>
            <td>
                <span ng-show="vm.isEditMode">
                    <span ng-hide="subAccount.deleted"
                          ng-click="vm.markForDeletion(subAccount, true)"
                          class="text-danger pull-right pointer">
                        <ec-icon type="trash"></ec-icon>
                    </span>
                    <span ng-show="subAccount.deleted"
                          ng-click="vm.markForDeletion(subAccount, false)"
                          class="text-success pull-right pointer">
                        <ec-icon type="refresh"></ec-icon>
                    </span>
                </span>
            </td>
        </tr>
        <tr class="category-action">
            <td colspan="6" ng-show="vm.isEditMode">
                <button class="btn btn-primary" ng-click="vm.addNewSubAccount()">
                    Add Sub Account
                </button>
            </td>
        </tr>
    </tbody>
    </table>


    <div class="row">
        <div class="col-xs-4">
            <span ng-hide="vm.isEditMode">
                <button class="btn btn-primary"
                        ng-click="vm.switchToEditMode()">
                    Make Changes
                </button>
            </span>
        </div>
        <div class="col-xs-8">
            <div class="pull-right" ng-show="vm.isEditMode">
                <button class="btn btn-success"
                        ng-disabled="!vm.canSave()"
                        ng-click="vm.saveChanges()">
                    Save Changes
                </button>
                &nbsp;
                &nbsp;
                <button class="btn btn-danger"
                        ng-click="vm.cancelEdit()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</ec-panel>
