<div class="row">
    <div class="col-xs-6">
        <h2>Edit Sink Fund: {{ vm.sinkFund.name }}</h2>
    </div>
    <div class="col-sm-6">
        <div class="text-right">
                <label>
                    <input type="checkbox"
                           ng-model="vm.showClosed" />
                    Include Closed Financial Obligations?
                </label>
        </div>
    </div>
</div>


<ec-panel title="Edit Financial Obligations/Goals for: {{ vm.sinkFund.name }}" type="primary">
    <table class="table table-bordered rounded fixed-layout">
    <thead>
        <tr class="heading">
            <th style="width:25%;">Goal/Obligation</th>
            <th style="width:10%;" class="text-right">Target</th>
            <th style="width:10%;" class="text-right">Current Balance</th>
            <th style="width:10%;" class="text-right">Outstanding (Still to Save)</th>
            <th style="width:25%;" class="hidden-xs">Comment</th>
            <th style="width:15%;" class="hidden-xs">Status</th>
            <th style="width:5%;"></th>
        </tr>
    </thead>
    <tfoot>
        <tr class="total">
            <th> Total </th>
            <th class="text-right">
                {{ vm.util.total(vm.sinkFund.sink_fund_allocations, 'target') | ecToDollars }}
            </th>
            <th class="text-right">
                {{ vm.util.total(vm.sinkFund.sink_fund_allocations, 'current_balance') | ecToDollars }}
            </th>
            <th class="text-right">
                <!--
                <ec-amount-formatted amount="vm.accountBalance(vm.sinkFund)">
                </ec-amount-formatted>
                -->
            </th>
            <th class="text-right"> </th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>
                <strong>Sink Fund Account Balance</strong>
            </td>
            <td></td>
            <td class="text-right">
                <strong><ec-amount-formatted amount="vm.sinkFund.current_balance"></ec-amount-formatted></strong>
            </td>
            <td></td>
            <td>
                <strong><em>Current Account Balance</em></strong>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <strong>Unassigned Money</strong>
            </td>
            <td></td>
            <td class="text-right">
                <strong><ec-amount-formatted amount="vm.unassignedBalance(vm.sinkFund)"></ec-amount-formatted></strong>
            </td>
            <td></td>
            <td>
                <strong><em>Money not assigned to any financial goal/obligation</em></strong>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat="sinkFundAllocation in vm.sinkFund.sink_fund_allocations"
            ng-class="{ danger: sinkFundAllocation.deleted, warning: sinkFundAllocation.status === 'closed' }"
            ng-show="vm.isSinkFundAllocationVisible(sinkFundAllocation)">

            <td>
                <span ng-hide="vm.isEditMode" ng-bind="sinkFundAllocation.name"> </span>
                <input type="text" ng-show="vm.isEditMode" ng-model="sinkFundAllocation.name" name="name"></input>
            </td>
            <td class="text-right">
                <strong>
                    <span ng-hide="vm.isEditMode" ng-bind="sinkFundAllocation.target | ecToDollars"></span>
                </strong>
                <input type="text" ng-show="vm.isEditMode" ng-model="sinkFundAllocation.target" ec-as-dollars></input>
            </td>
            <td class="text-right">
                <span ng-bind="sinkFundAllocation.current_balance | ecToDollars"></span>
            </td>
            <td class="text-right">
                <ec-amount-formatted amount="sinkFundAllocation.current_balance-sinkFundAllocation.target">
                </ec-amount-formatted>
            </td>
            <td>
                <span ng-hide="vm.isEditMode" ng-bind="sinkFundAllocation.comment"></span>
                <input type="text" ng-show="vm.isEditMode" ng-model="sinkFundAllocation.comment"></input>
            </td>
            <td>
                {{ sinkFundAllocation.status }}
            </td>
            <td>
                <span ng-show="vm.isEditMode">
                    <span ng-hide="sinkFundAllocation.deleted"
                          ng-click="vm.markForDeletion(sinkFundAllocation, true)"
                          class="text-danger pull-right pointer">
                        <ec-icon type="trash" tooltip="Delete"></ec-icon>
                    </span>
                    <span ng-show="sinkFundAllocation.deleted"
                          ng-click="vm.markForDeletion(sinkFundAllocation, false)"
                          class="text-success pull-right pointer">
                        <ec-icon type="refresh" tooltip="Undo Delete"></ec-icon>
                    </span>

                    <span ng-show="sinkFundAllocation.status === 'open'"
                          ng-click="vm.markForClosing(sinkFundAllocation)"
                          class="text-warning pull-right pointer">
                        <ec-icon type="remove" tooltip="Close"></ec-icon>
                        &nbsp;
                    </span>
                    <span ng-show="sinkFundAllocation.status === 'closed'"
                          ng-click="vm.markForOpening(sinkFundAllocation)"
                          class="text-warning pull-right pointer">
                        <ec-icon type="folder-open" tooltip="Open"></ec-icon>
                        &nbsp;
                    </span>
                </span>
            </td>
        </tr>
        <tr class="category-action">
            <td colspan="6" ng-show="vm.isEditMode">
                <button class="btn btn-primary" ng-click="vm.addNewSinkFundAllocation()">
                    Add Sink Fund Allocation
                </button>
            </td>
        </tr>
    </tbody>
    </table>

    <div class="row">
        <div class="col-sm-12">
            <span ng-hide="vm.isEditMode">
                <button class="btn btn-primary"
                        ng-click="vm.switchToEditMode()">
                    Make Changes
                </button>
                &nbsp; &nbsp;
                <button class="btn btn-default"
                        ng-click="vm.state.go('sink-funds')">
                    Back to List
                </button>
                &nbsp; &nbsp;
                <button class="btn btn-primary"
                        ng-click="vm.showTransferForm(vm.sinkFund)">
                    Transfer Money Between Allocations
                </button>

                &nbsp; &nbsp;
                <button class="btn btn-default"
                    ng-click="vm.state.go('transactions', { bank_account: vm.sinkFund.id })">
                    View Transactions
                </button>
            </span>
        </div>
        <div class="col-sm-6">
            <div class="pull-right" ng-show="vm.isEditMode">
                <button class="btn btn-success"
                        ng-click="vm.saveChanges()">
                    Save Changes
                </button>
                &nbsp;
                &nbsp;
                <button class="btn btn-danger"
                        ng-click="vm.cancelEdit()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</ec-panel>
