<div class="row">
    <div class="col-sm-6">
        <h2>Sink Funds</h2>
    </div>
    <div class="col-sm-6">
        <div class="text-right">
                <label>
                    <input type="checkbox"
                           ng-click="vm.refreshSinkFunds()"
                           ng-model="vm.searchParams.include_closed" />
                    Include Closed Accounts?
                </label>
        </div>
    </div>
</div>
<div class="row">
</div>


<table class="table table-bordered clear-background rounded">
    <thead>
        <tr>
            <th colspan="1" class="visible-xs"></th>
            <th colspan="4" class="hidden-xs"></th>
            <th colspan="3" class="text-center">Balances</th>
            <th></th>
        </tr>
        <tr class="heading">
            <th>Name</th>
            <th class="hidden-xs">Institution</th>
            <th class="hidden-xs">Account Type</th>
            <th class="hidden-xs">Category</th>
            <th>Default Sink Fund Allocation</th>
            <th>Other Sink Fund Allocations</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sinkFund in vm.sinkFunds">
            <td> {{ sinkFund.name }} </td>
            <td class="hidden-xs"> {{ sinkFund.institution.name }} </td>
            <td class="hidden-xs"> {{ sinkFund.account_type }} </td>
            <td class="hidden-xs"> {{ sinkFund.account_category }} </td>
            <td class="text-right"> {{ sinkFund.default_sink_fund_allocation_balance | ecToDollars }} </td>
            <td class="text-right"> {{ sinkFund.other_sink_fund_allocations_balance | ecToDollars }} </td>
            <td class="text-right"> {{ sinkFund.current_balance | ecToDollars }} </td>
            <td>
                <span ng-click="vm.selectSinkFundForUpdate(sinkFund)"
                      class="text-warning pull-right pointer">
                    <ec-icon type="edit" tooltip="Edit"></ec-icon>
                    &nbsp;
                    &nbsp; &nbsp;
                </span>
            </td>

        </tr>
    </tbody>
    <tfoot>
        <tr class="total">
            <th class="hidden-xs text-right" colspan="4">Total</th>
            <th class="visible-xs text-right">Total</th>
            <th class="text-right">
                {{ vm.util.total(vm.sinkFunds, 'default_sink_fund_allocation_balance') | ecToDollars }}
            </th>
            <th class="text-right">
                {{ vm.util.total(vm.sinkFunds, 'other_sink_fund_allocations_balance') | ecToDollars }}
            </th>
            <th class="text-right">
                {{ vm.util.total(vm.sinkFunds, 'current_balance') | ecToDollars }}
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>


<br/>
<div class="row">
    <div class="col-xs-1">
        <button ng-hide="vm.isEditMode"
                class="btn btn-primary"
                ng-click="vm.refreshSinkFunds()">
            Refresh
        </button>
    </div>
</div>

<br/>

<ui-view></ui-view>
