/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import 'data-table-styles.scss';

div.md-sidenav-content {
    background-color: #a09fa2;
}

mat-card.main, mat-sidenav-container.main {
  background-color: #a5b0ff;
  height: calc(100% - 50px);
  overflow: auto;
}

.right, th.mat-header-cell.right {
  padding-right: 5px;
  text-align: right;
}

.closed {
  background-color: rgba(33, 33, 33, 0.3);
}

.closed:hover{
  background-color: rgba(33, 33, 33, 0.5) !important;
}

.deactivated {
  background-color: rgba(33, 33, 33, 0.3);
}

.deactivated:hover{
  background-color: rgba(33, 33, 33, 0.5) !important;
}

.unpaid, .unpaid .mat-cell, .unpaid .mat-header-cell, .unpaid .mat-footer-cell  {
  color:rgb(230, 40, 40) !important;
}

.deleted {
    background-color: rgba(160, 38, 38, 0.35);
}

.deleted:hover{
    background-color: rgba(160, 38, 38, 0.55) !important;
}

/* general style reset */
html, body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
}

mat-sidenav-content {
  height: 100%;
}

body {
    background-color: #d0cdcd;
}

.list-item-with-action-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

