/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import 'data-table-styles.scss';

div.md-sidenav-content {
    background-color: #a09fa2;
}

mat-card.main, mat-sidenav-container.main {
  background-color: #a5b0ff;
}

.deactivated {
  background-color: rgba(33, 33, 33, 0.3);
}

.deactivated:hover{
  background-color: rgba(33, 33, 33, 0.5) !important;
}

.unpaid {
  color:rgb(230, 40, 40);
}

.deleted {
    background-color: rgba(160, 38, 38, 0.35);
}

.right {
  text-align: right;
}

.deleted:hover{
    background-color: rgba(160, 38, 38, 0.55) !important;
}

html, body {
    display: flex;
    height: 100%;
    width: 100%;
}

body {
    background-color: #d0cdcd;
}

.list-item-with-action-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
