
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed"
                    type="button" class="navbar-toggle"
                    >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="vm.goToPage('home')">EveryCent</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div collapse="navCollapsed" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Hi, <strong>{{vm.userName}}</strong></p></li>
                <li><a ng-click="vm.logout()">Log Out</a></li>
            </ul>
            <ul id="main-menu" class="nav navbar-nav">
                <li ng-class="{ active: vm.currentPage === 'institutions' }">
                    <a ng-click="vm.goToPage('institutions')">Institutions</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
