
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed"
                    type="button" class="navbar-toggle"
                    >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="vm.goToPage('home')">EveryCent</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div collapse="navCollapsed" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Hi, <strong>{{vm.userName}}</strong></p></li>
                <li><a ng-click="vm.logout()">Log Out</a></li>
            </ul>
            <ul class="main-menu nav navbar-nav">
                <li class="dropdown" ng-class="{ active: vm.currentPage === 'institutions', open: setupOpen }">
                  <a class="dropdown-toggle"
                          data-toggle="dropdown" role="button"
                          ng-init="setupOpen = false"
                          ng-click="setupOpen = !setupOpen"
                          aria-expanded="false">
                       Setup <span class="caret"></span>
                   </a>
                   <ul class="dropdown-menu" role="menu">
                        <li> <a ng-click="vm.goToPage('institutions');setupOpen = false;">Institutions</a> </li>
                   </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
