
<nav ng-hide="vm.isActive('sign_in')" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button ng-click="vm.navMenuOpen = !vm.navMenuOpen"
                    type="button" class="navbar-toggle"
                    >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <li>
                <a class="navbar-brand" style="cursor:pointer;" ng-click="vm.go('home')">EveryCent</a>
            </li>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div collapse="!vm.navMenuOpen" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Hi, <strong>{{ ::vm.user.name }}</strong></p></li>
                <li><a ng-click="vm.signOut()">Sign Out</a></li>
            </ul>
            <ul class="main-menu nav navbar-nav">
                <li class="dropdown" ng-class="{ active: vm.isActive('setup'), open: vm.setupOpen }">
                  <a class="dropdown-toggle"
                          data-toggle="dropdown" role="button"
                          ng-click="vm.setupOpen = !vm.setupOpen"
                          aria-expanded="false">
                       Setup <span class="caret"></span>
                   </a>
                   <ul class="dropdown-menu" role="menu">
                        <li> <a ng-click="vm.go('institutions');">Institutions</a> </li>
                        <li> <a ng-click="vm.go('bank-accounts');">Bank Accounts</a> </li>
                        <li> <a ng-click="vm.go('recurring-incomes');">Recurring Incomes</a> </li>
                        <li> <a ng-click="vm.go('allocation-categories');">Allocation Categories</a> </li>
                        <li> <a ng-click="vm.go('recurring-allocations');">Recurring Allocations</a> </li>
                        <li> <a ng-click="vm.go('settings');">Settings</a> </li>
                   </ul>
                   <li ng-class="{ active: vm.isActive('budgets.current')}">
                       <a ng-click="vm.go('budgets.current');">Current Budget</a>
                   </li>
                   <li ng-class="{ active: vm.isActive('budgets')}">
                       <a ng-click="vm.go('budgets');">Budgets</a>
                   </li>
                   <li ng-class="{ active: vm.isActive('transactions')}">
                       <a ng-click="vm.go('transactions');">Transactions</a>
                   </li>
                    <li> <a href="/v3/#/">New Version</a> </li>

                    <li ng-class="{ open: vm.newOpen }">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           ng-click="vm.newOpen = !vm.newOpen"
                           aria-expanded="false">
                            New Features<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li> <a href="/v3/#/budgets">Budgets (New)</a> </li>
                            <li> <a href="/v3/#/transactions">Transactions (New)</a> </li>
                            <li> <a href="/v3/#/sink-funds">Sink Funds (New)</a> </li>
                            <li> <a href="/v3/#/account-balances">Account Balances (New)</a> </li>
                        </ul>
                    </li>

                    <li ng-class="{ active: vm.isActive('sink-funds'), open: vm.oldOpen }">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           ng-click="vm.oldOpen = !vm.oldOpen"
                           aria-expanded="false">
                            Replaced <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="vm.go('sink-funds');">Sink Funds</a>
                            </li>
                            <li>
                                <a ng-click="vm.go('account-balances');">Account Balances</a>
                            </li>
                        </ul>
                    </li>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
