
<ec-form-field label="Name" label-width="2"
               name="name"
               error="vm.bankAccountForm.name.$error"
               field-width="6"
               placeholder="Bank Account's name"
               type="text"
               ng-required="true"
               ng-model="vm.bankAccount.name">
</ec-form-field>

<div class="form-group" ng-class="{'has-error': vm.bankAccountForm.account_type.$error.server }">
    <label class="col-xs-2 control-label">Type</label>
    <div class="col-xs-6">

        <select name="account_type"
                ng-model="vm.bankAccount.account_type"
                class="form-control">
                <option value="normal">Normal Account</option>
                <option value="sink_fund">Sink Fund</option>
                <option value="credit_card">Credit Card</option>
        </select>

        <p class="help-block">{{ vm.bankAccountForm.account_type.$error.server }}</p>
    </div>
</div>

<ec-form-field label="Account Type Description" label-width="2"
               name="account_type_description"
               error="vm.bankAccountForm.account_type_description.$error"
               field-width="6"
               placeholder="Money Market Fund, Savings, Checking, Gold Credit Card etc"
               type="text"
               ng-required="true"
               ng-model="vm.bankAccount.account_type_description">
</ec-form-field>

<div class="form-group" ng-class="{'has-error': vm.bankAccountForm.account_category.$error.server }">
    <label class="col-xs-2 control-label">Category</label>
    <div class="col-xs-6">

        <select name="account_category"
                ng-model="vm.bankAccount.account_category"
                class="form-control">
                <option value="asset">Asset</option>
                <option value="liability">Liability</option>
                <option value="current">Current</option>
        </select>

        <p class="help-block">{{ vm.bankAccountForm.account_category.$error.server }}</p>
    </div>
</div>


<div class="form-group" ng-class="{'has-error': vm.bankAccountForm.is_cash.$error.server }">
    <div class="col-sm-offset-2 col-xs-10">
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       name="is_cash"
                       ng-model="vm.bankAccount.is_cash" />
                Is Cash Account?
            </label>
        </div>
    </div>
    <p class="help-block">{{ vm.bankAccountForm.is_cash.$error.server }}</p>
</div>

<ec-form-field label="Account Owner" label-width="2"
               name="user_id"
               error="vm.bankAccountForm.user_id.$error"
               field-width="6"
               type="select"
               list-of="users"
               ng-required="true"
               ng-model="vm.bankAccount.user_id">
</ec-form-field>

<ec-form-field label="Institution" label-width="2"
               name="institution_id"
               error="vm.bankAccountForm.institution_id.$error"
               field-width="6"
               type="select"
               list-of="institutions"
               ng-required="true"
               ng-model="vm.bankAccount.institution_id">
</ec-form-field>

<ec-form-field label="Account No" label-width="2"
               name="account_no"
               error="vm.bankAccountForm.account_no.$error"
               field-width="6"
               placeholder="Official Account #"
               type="text"
               ng-required="true"
               ng-model="vm.bankAccount.account_no">
</ec-form-field>

<ec-form-field label="Opening Balance" label-width="2"
               name="opening_balance"
               error="vm.bankAccountForm.opening_balance.$error"
               field-width="6"
               placeholder="Balance when you started budget"
               type="dollars"
               ng-required="true"
               ng-model="vm.bankAccount.opening_balance">
</ec-form-field>

<div class="form-group" ng-class="{'has-error': vm.bankAccountForm.status.$error.server }">
    <label class="col-xs-2 control-label">Status</label>
    <div class="col-xs-6">

        <select name="status"
                ng-model="vm.bankAccount.status"
                class="form-control">
                <option value="open">Open</option>
                <option value="closed">Closed</option>
        </select>

        <p class="help-block">{{ vm.bankAccountForm.status.$error.server }}</p>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': vm.bankAccountForm.allow_default_allocations.$error.server }">
    <div class="col-sm-offset-2 col-xs-10">
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       name="allow_default_allocations"
                       ng-model="vm.bankAccount.allow_default_allocations" />
                Default Allocations?
            </label>
        </div>
    </div>
    <p class="help-block">{{ vm.bankAccountForm.allow_default_allocations.$error.server }}</p>
</div>

<fieldset>
    <legend>Credit Card Related</legend>

    <ec-form-field label="Statement Day" label-width="2"
                   name="statement_day"
                   error="vm.bankAccountForm.statement_day.$error"
                   field-width="2"
                   placeholder="Day that the credit card billing period starts"
                   type="number"
                   ng-model="vm.bankAccount.statement_day">
    </ec-form-field>

    <ec-form-field label="Payment Due Day" label-width="2"
                   name="payment_due_day"
                   error="vm.bankAccountForm.payment_due_day.$error"
                   field-width="2"
                   placeholder="deadline day for paying credit card balance of previous billing period"
                   type="number"
                   min="1"
                   max="31"
                   step="1"
                   ng-required="true"
                   ng-model="vm.bankAccount.payment_due_day">
    </ec-form-field>

</fieldset>
