
<div class="row">
    <div class="col-xs-6">
        <h2>Bank Accounts</h2>
    </div>
    <div class="col-xs-6">
        <div class="text-right">
                <label>
                    <input type="checkbox"
                           ng-click="vm.refreshBankAccountList()"
                           ng-model="vm.searchParams.include_closed" />
                    Include Closed Accounts?
                </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered clear-background rounded">
        <thead>
            <tr class="heading">
                <th>Name</th>
                <th>Institution</th>
                <th>Account Type</th>
                <th>Description</th>
                <th>Category</th>
                <th>Status</th>
                <th>Default Allocations?</th>
                <th>Opening Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bankAccount in vm.bankAccounts">
                <td>
                    {{ bankAccount.name }}
                </td>
                <td> {{ bankAccount.institution.name }} </td>
                <td>
                    {{ bankAccount.account_type | ecHumanize }}
                </td>
                <td>
                    {{ bankAccount.account_type_description }}
                    <div ng-show="bankAccount.is_credit_card">
                        <div> <em>Statement day:</em> <strong>{{ bankAccount.statement_day_ordinal }}</strong> </div>
                        <div> <em>Payment Due day:</em> <strong> {{ bankAccount.payment_due_day_ordinal }} </strong> </div>
                    </div>
                </td>
                <td> {{ bankAccount.account_category }} </td>
                <td> {{ bankAccount.status }} </td>
                <td class="text-center"> {{ bankAccount.allow_default_allocations ? 'Yes' : 'No' }} </td>
                <td class="text-right"> {{ bankAccount.opening_balance | ecToDollars }} </td>
                <td>
                    <span ng-click="vm.deleteBankAccount(bankAccount)"
                          class="text-danger pull-right pointer">
                        <ec-icon type="trash" tooltip="Delete"></ec-icon>
                    </span>

                    <span ng-click="vm.selectBankAccountForUpdate(bankAccount)"
                          class="text-warning pull-right pointer">
                        <ec-icon type="edit" tooltip="Edit"></ec-icon>
                        &nbsp;
                        &nbsp; &nbsp;
                    </span>
                </td>

            </tr>
        </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-1" ng-show="vm.state.is('bank-accounts')">
        <button class="btn btn-primary"
                ng-click="vm.state.goToState('bank-accounts.new')">
            Add New Bank Account
        </button>
    </div>
    <div class="col-xs-1" ng-show="vm.state.is('bank-accounts.new')">
        <button class="btn btn-default"
                ng-click="vm.state.goToState('bank-accounts')">
            Cancel
        </button>
    </div>
</div>

<br/>

<ui-view></ui-view>
