<ec-panel type="primary" title="Transaction Summary">
    <table class="table table-bordered clear-background rounded fixed-layout">
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>Last Bank Balance</th>
                <td class="text-right">{{ vm.lastBankBalance() | ecToDollars }}</td>
            </tr>
            <tr>
                <th>Transaction Total</th>
                <td class="text-right">{{ vm.transactionTotal() | ecToDollars }}</td>
            </tr>
            <tr class="total">
                <th>Current Bank Balance</th>
                <td class="text-right">
                    <ec-amount-formatted amount="vm.currentBankBalance()"></ec-amount-formatted>
                </td>
            </tr>
            <tr ng-if="vm.showBudgetBalance()">
                <th>Last Budget Balance</th>
                <td class="text-right">{{ vm.lastBudgetBalance() | ecToDollars }}</td>
            </tr>
            <tr ng-if="vm.showBudgetBalance()" class="total">
                <th>Budget Difference</th>
                <td class="text-right"><ec-amount-formatted amount="vm.budgetDifference()"></ec-amount-formatted></td>
            </tr>
        </tbody>
    </table>
</ec-panel>
