
/* Transactions.css */
.transaction-list{
  max-height: 500px;
  overflow-y: scroll;
}

table.fixed-headers {
  table-layout: fixed;
  border-collapse: collapse;
}
/*
  th.fixed_headers, td.fixed_headers {
    padding: 5px;
    text-align: left;
  }
*/

table.fixed-headers thead tr{
  display: block;
  position: relative;
}

table.fixed-headers tbody{
  display: block;
  overflow: auto;
  width: 100%;
  height: 400px;
}

