
<div class="row">
    <div class="col-xs-6">
        <h2>Transactions</h2>
    </div>
    <div class="col-xs-6 text-right">
        <button ng-show="vm.search.bank_account.is_sink_fund" class="btn btn-default" ng-click="vm.goToSinkFund()">Go to Sink Fund</button>
        &nbsp;
        &nbsp;
        <button class="btn btn-default" ng-click="vm.goToBudget()">Go to Budget</button>
    </div>
</div>
<div class="row">
</div>
<br/>

<div class="row">
    <div class="col-sm-6">
        <ec-transaction-search-form search-options="vm.search"
                                    on-submit="vm.refreshTransactions();">
        </ec-transaction-search-form>
    </div>
    <div class="col-sm-6">
        <ec-transaction-summary bank_account="vm.search.bank_account"
                                allocations="vm.allocations"
                                transactions="vm.transactions">
        </ec-transaction-summary>
    </div>
</div>

<div ng-show="vm.isEditMode">
    <ec-transaction-importer transactions="vm.transactions"
                             start-date="vm.search.budget.start_date"
                             end-date="vm.search.budget.end_date"
    >
    </ec-transaction-importer>
</div>

<form class="form-horizontal" novalidate name="vm.transactionsForm">
<div class="row">
    <div class="col-xs-12">
        <div style="max-height:400px; overflow-y:scroll;">
            <table class="table table-bordered clear-background rounded fixed-layout">
            <thead>
                <tr class="heading">
                    <th style="width:15%;">Date</th>
                    <th style="width:12%;" class="hidden-xs">Payee</th>
                    <th style="width:23%;">Description</th>
                    <th style="width:15%;">
                        <span ng-hide="vm.search.bank_account.is_sink_fund">Allocation</span>
                        <span ng-show="vm.search.bank_account.is_sink_fund">Sink Fund Allocation</span>
                    </th>
                    <th style="width:10%;" class="text-right">Withdrawn</th>
                    <th style="width:10%;" class="text-right">Deposited</th>
                    <th style="width: 5%;" class="text-center">Paid?</th>
                    <th style="width: 5%;"></th>
                </tr>
            </thead>
            <tfoot>
                <tr class="total">
                    <th></th>
                    <th class="hidden-xs"></th>
                    <th>Total</th>
                    <th></th>
                    <th class="text-right"> {{ vm.util.total(vm.transactions, 'withdrawal_amount') | ecToDollars }}</th>
                    <th class="text-right"> {{ vm.util.total(vm.transactions, 'deposit_amount') | ecToDollars }}</th>


                    <th class="text-right">
                        <input type="checkbox"
                               ng-show="vm.isEditMode"
                               ng-model="vm.allPaid"
                               ng-click="vm.updateAllTransactionStatuses(vm.transactions, vm.allPaid)"
                        />
                    </th>

                    <th>
                        <span ng-show="vm.isEditMode">

                            <span ng-hide="vm.transactions.deleted"
                                  ng-click="vm.markAllForDeletion(vm.transactions, true)"
                                  class="text-danger pull-right pointer">
                                <ec-icon type="trash"></ec-icon>
                            </span>

                            <span ng-show="vm.transactions.deleted"
                                  ng-click="vm.markAllForDeletion(vm.transactions, false)"
                                  class="text-success pull-right pointer">
                                <ec-icon type="refresh"></ec-icon>
                            </span>

                        </span>
                    </th>
                </tr>
            </tfoot>
            <tbody>
                <tr ec-transaction-list-row
                    ng-repeat="transaction in vm.transactions"
                    transaction="transaction"
                    search="vm.search"
                    is-edit-mode="vm.isEditMode"
                    transactionForm="vm.transactionForm"
                    ng-class="{ danger: transaction.deleted, 'text-danger': !transaction.paid }">
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
</form>

<br/>
<div class="row">
    <div class="col-xs-4">
        <button ng-hide="vm.isEditMode"
                class="btn btn-primary"
                ng-click="vm.switchToEditMode()">
            Make Changes
        </button>

        <button ng-show="vm.isEditMode"
                class="btn btn-primary"
                ng-click="vm.addTransaction()">
            Add Transaction
        </button>
        &nbsp;
        <button ng-show="vm.isEditMode && vm.search.bank_account.allow_default_allocations"
                class="btn btn-info"
                ng-click="vm.defaultAllocations()">
            Default Allocations
        </button>
    </div>
    <div class="col-xs-8">
        <span ng-show="vm.isEditMode" class="pull-right">
            <button class="btn btn-success"
                    ng-disabled="vm.transactionsForm.$invalid"
                    ng-click="vm.saveChanges()">
                Save Changes
            </button>

            &nbsp; &nbsp; &nbsp;

            <button class="btn btn-danger"
                    ng-click="vm.cancelEdit()">
                Cancel
            </button>
        </span>
    </div>
</div>

<br/>
