
<div class="row">
    <div class="col-xs-12">
        <h2>Transactions</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-right">
        <button class="btn btn-default" ng-click="vm.goToBudget()">Go to Budget</button>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-xs-6">
        <ec-transaction-search-form search-options="vm.search"
                                    on-submit="vm.refreshTransactions();">
        </ec-transaction-search-form>
    </div>
    <div class="col-xs-6">
        <ec-transaction-summary bank_account="vm.search.bank_account"
                                transactions="vm.transactions">
        </ec-transaction-summary>
    </div>
</div>

<div ng-show="vm.isEditMode">
    <ec-transaction-importer transactions="vm.transactions"
                             start-date="vm.search.budget.start_date"
                             end-date="vm.search.budget.end_date"
    >
    </ec-transaction-importer>
</div>

<form class="form-horizontal" novalidate name="vm.transactionsForm">
<div class="row">
    <div class="col-xs-12">
        <div style="max-height:400px; overflow-y:scroll;">
            <table class="table table-bordered clear-background rounded fixed-layout">
            <thead>
                <tr class="heading">
                    <th style="width:15%;">Date</th>
                    <th style="width:25%;">Description</th>
                    <th style="width:15%;">Payee</th>
                    <th style="width:15%;">Allocation</th>
                    <th style="width:10%;" class="text-right">Withdrawn</th>
                    <th style="width:10%;" class="text-right">Deposited</th>
                    <th style="width: 5%;"></th>
                </tr>
            </thead>
            <tfoot>
                <tr class="total">
                    <th></th>
                    <th>Total</th>
                    <th></th>
                    <th></th>
                    <th class="text-right"> {{ vm.util.total(vm.transactions, 'withdrawal_amount') | ecToDollars }}</th>
                    <th class="text-right"> {{ vm.util.total(vm.transactions, 'deposit_amount') | ecToDollars }}</th>
                    <th>
                        <span ng-show="vm.isEditMode">

                            <span ng-hide="vm.transactions.deleted"
                                  ng-click="vm.markAllForDeletion(vm.transactions, true)"
                                  class="text-danger pull-right pointer">
                                <ec-icon type="trash"></ec-icon>
                            </span>

                            <span ng-show="vm.transactions.deleted"
                                  ng-click="vm.markAllForDeletion(vm.transactions, false)"
                                  class="text-success pull-right pointer">
                                <ec-icon type="refresh"></ec-icon>
                            </span>

                        </span>
                    </th>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="transaction in vm.transactions" ng-class="{ danger: transaction.deleted }">

                    <!-- transaction date -->
                    <td ng-class="{'danger': vm.transactionsForm['transaction_date['+$index+']'].$invalid}">
                        <input ng-show="vm.isEditMode"
                            name="transaction_date[{{$index}}]"
                            type="date"
                            ng-model="transaction.transaction_date"
                            ng-change="vm.checkTransactionDate(transaction, vm.search.budget)"
                            ng-required="!transaction.deleted"
                            ec-as-date>
                        </input>
                        <span style="positive:relative; top:20px;" ng-show="transaction.transaction_date_invalid" class=".help-block">
                            Transaction date outside the budget period
                        </span>
                        <span ng-hide="vm.isEditMode"
                              ng-bind="transaction.transaction_date | date:'EEE dd MMM, yy'"></span>
                    </td>

                    <!-- description -->
                    <td>
                        <input ng-show="vm.isEditMode" type="text" ng-model="transaction.description" ></input>
                        <span ng-hide="vm.isEditMode" ng-bind="transaction.description"></span>
                    </td>

                    <!-- payee -->
                    <td>
                        <input ng-show="vm.isEditMode" type="text" ng-model="transaction.payeeName" ></input>
                        <span ng-hide="vm.isEditMode">
                           <span ng-show="transaction.payeeName"
                                 ng-bind="transaction.payeeName + ' (' + transaction.payeeCode + ')'"></span>
                        </span>
                    </td>

                    <!-- allocation -->
                    <td>
                        <select ng-show="vm.isEditMode"
                                ng-model="transaction.allocation"
                                ng-change="vm.ref.updateReferenceId(transaction, 'allocation')"
                                ng-options="allocation.name group by allocation.allocation_category.name for allocation in vm.allocations track by allocation.id">
                        </select>
                        <span ng-hide="vm.isEditMode" ng-bind="transaction.allocation.name"></span>
                    </td>

                    <!-- withdrawal amount -->
                    <td class="text-right">
                        <input ng-show="vm.isEditMode" type="text" ng-model="transaction.withdrawal_amount" ec-as-dollars></input>
                        <span ng-hide="vm.isEditMode" ng-bind="transaction.withdrawal_amount | ecToDollars"></span>
                    </td>

                    <!-- deposit amount -->
                    <td class="text-right">
                        <input ng-show="vm.isEditMode" type="text" ng-model="transaction.deposit_amount" ec-as-dollars></input>
                        <span ng-hide="vm.isEditMode" ng-bind="transaction.deposit_amount | ecToDollars"></span>
                    </td>

                    <td>
                        <span ng-show="vm.isEditMode">

                            <span ng-hide="transaction.deleted"
                                  ng-click="vm.markForDeletion(transaction, true)"
                                  class="text-danger pull-right pointer">
                                <ec-icon type="trash"></ec-icon>
                            </span>

                            <span ng-show="transaction.deleted"
                                  ng-click="vm.markForDeletion(transaction, false)"
                                  class="text-success pull-right pointer">
                                <ec-icon type="refresh"></ec-icon>
                            </span>

                        </span>
                    </td>

                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
</form>

<br/>
<div class="row">
    <div class="col-xs-2">
        <button ng-hide="vm.isEditMode"
                class="btn btn-primary"
                ng-click="vm.switchToEditMode()">
            Make Changes
        </button>

        <button ng-show="vm.isEditMode"
                class="btn btn-primary"
                ng-click="vm.addTransaction()">
            Add Transaction
        </button>
    </div>
    <div class="col-xs-10">
        <span ng-show="vm.isEditMode" class="pull-right">
            <button class="btn btn-success"
                    ng-disabled="vm.transactionsForm.$invalid"
                    ng-click="vm.saveChanges()">
                Save Changes
            </button>

            &nbsp; &nbsp; &nbsp;

            <button class="btn btn-danger"
                    ng-click="vm.cancelEdit()">
                Cancel
            </button>
        </span>
    </div>
</div>

<br/>
