
<div class="row">
    <div class="col-xs-12">
        <h2>
            {{ vm.budget.name }}
            <small> Setup Budget</small>
        </h2>
    </div>
</div>
<ec-income-list-editor budget="vm.budget"></ec-income-list-editor>
<ec-allocation-list-editor allocations="vm.budget"></ec-allocation-list-editor>

<div class="row">
    <div class="col-xs-9">
        <div class="">
            <button class="btn btn-success"
                    ng-click="vm.saveChanges(vm.budget)">
                Save Changes
            </button>
            &nbsp;
            &nbsp;
            <button class="btn btn-danger"
                    ng-click="vm.cancelEdit()">
                Cancel
            </button>
        </div>
    </div>
</div>

<br/>

