
<div class="row">
    <div class="col-xs-12">
        <h2>
            Setup Budget:<small>{{ vm.budget.name }}</small>
        </h2>
    </div>
</div>
<ec-income-list-editor incomes="vm.budget.incomes"></ec-income-list-editor>
<ec-allocation-list-editor allocations="vm.budget.allocations"></ec-allocation-list-editor>

<div class="row">
    <div class="col-xs-9">
        <div class="">
            <button class="btn btn-primary"
                    ng-click="vm.saveChanges()">
                Save Changes
            </button>
            &nbsp;
            &nbsp;
            <button class="btn btn-danger"
                    ng-click="vm.cancelEdit()">
                Cancel
            </button>
        </div>
    </div>
</div>

<br/>

