<div class="row">
    <div class="col-xs-12">
        <ec-panel title="Allocations" type="primary">
            <div class="pull-right">
                <label>
                    <input type="checkbox" ng-model="vm.showStandingOrders" >
                        Show standing order info?
                    </input>
                </label>
            </div>
            <table class="table table-bordered rounded fixed-layout">
            <thead>
                <tr class="heading">
                    <th style="width:25%;">Name</th>
                    <th style="width:15%;" class="text-right">Amount</th>
                    <th style="width:15%;" class="text-right">Spent</th>
                    <th style="width:15%;" class="text-right">Remaining</th>
                    <th style="width:25%;" class="hidden-xs">
                        <span ng-show="vm.showStandingOrders"> Standing Orders </span>
                        <span ng-hide="vm.showStandingOrders"> Comment </span>
                    </th>
                    <th style="width:5%;"></th>
                </tr>
            </thead>
            <tfoot>
                <tr class="total">
                    <th>
                      Total
                        <span class="pull-right">
                          <ec-amount-label label="Unallocated"
                                            type="default"
                                           amount="vm.totalDiscretionaryAmount()">
                          </ec-amount-label>
                        </span>
                    </th>
                    <th class="text-right">
                        {{ vm.util.total(vm.budget.allocations, 'amount') | ecToDollars }}
                    </th>
                    <th class="text-right">
                        {{ vm.util.total(vm.budget.allocations, 'spent') | ecToDollars }}
                    </th>
                    <th class="text-right">
                        <ec-amount-formatted amount="vm.totalRemaining()"></ec-amount-formatted>
                    </th>
                    <th class="hidden-xs"></th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
            <!-- ng-repeat-start -->
                <tr class="category-heading" ng-repeat-start="category in vm.groupedAllocationCategories">
                    <td>
                      <span>
                        {{ category.name }}
                      </span>
                    </td>
                    <td class="text-right">
                      {{ vm.actualTotalForCategory(category) | ecToDollars }}
                    </td>
                    <td class="text-right">
                        {{ vm.actualSpentForCategory(category) | ecToDollars }}
                    </td>
                    <td class="text-right">
                        <ec-amount-formatted amount="vm.actualRemainingForCategory(category)"></ec-amount-formatted>
                    </td>
                    <td class="hidden-xs"></td>
                    <td></td>
                </tr>

                <tr class="category-detail" ec-allocation-list-row
                    ng-repeat="allocation in category.allocations"
                    allocation="allocation"
                    is-edit-mode="vm.isEditMode"
                    show-standing-orders="vm.showStandingOrders">
                </tr>

                <tr class="category-action" ng-repeat-end>
                    <td colspan="6" ng-show="vm.isEditMode">
                        <button class="btn btn-primary" ng-click="vm.addNewAllocationInCategory(category)">
                            Add {{category.name}} Allocation
                        </button>
                    </td>
                </tr>
                <!-- ng-repeat-end -->
            </tbody>
            </table>

            <table class="table table-bordered rounded">
                <tbody>
                  <tr>
                      <th class="text-right">Total Discretionary Amount</th>
                      <td class="text-right">{{ vm.totalDiscretionaryAmount() | ecToDollars }}</td>
                  </tr>
                  <tr>
                      <th class="text-right"> Pat's Amount</th>
                      <td class="text-right">{{ vm.totalDiscretionaryAmount() / 2 | ecToDollars }}</td>
                  </tr>
                  <tr>
                      <th class="text-right">Kion's Amount</th>
                      <td class="text-right">{{ vm.totalDiscretionaryAmount() / 2 | ecToDollars }}</td>
                  </tr>
                </tbody>
            </table>

            <div class="row" ng-show="vm.budget.status==='open'">
                <div class="col-xs-2">
                    <span ng-hide="vm.isEditMode">
                        <button class="btn btn-primary"
                                ng-click="vm.switchToEditMode()">
                            Make Changes
                        </button>
                    </span>
                </div>
                <div class="col-xs-10">
                    <div class="pull-right" ng-show="vm.isEditMode">
                        <button class="btn btn-success"
                                ng-click="vm.switchToViewMode()">
                            Back to View Mode
                        </button>
                        &nbsp;
                        &nbsp;
                        <button class="btn btn-danger"
                                ng-click="vm.cancelEdit()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </ec-panel>
    </div>
</div>

<br/>
