<tr ng-class="{ danger: vm.allocation.deleted }">
    <!-- name -->
    <td>
        <input type="text" ng-show="vm.isEditMode" ng-model="vm.allocation.name" />
        <span ng-hide="vm.isEditMode" ng-bind="vm.allocation.name"></span>
    </td>

    <!-- category -->
    <td ng-show="">
        <select ng-show="vm.isEditMode"
                ng-model="vm.allocation.allocation_category"
                ng-change="vm.ref.updateReferenceId(vm.allocation, 'allocation_category')"
                ng-options="category.name for category in vm.allocationCategories track by category.id">
        </select>
        <span ng-hide="vm.isEditMode" ng-bind="vm.allocation.allocation_category.name"></span>
    </td>

    <!-- amount -->
    <td class="text-right">
        <input type="text" ng-show="vm.isEditMode" ng-model="vm.allocation.amount" ec-as-dollars />
        <span ng-hide="vm.isEditMode" ng-bind="vm.allocation.amount | ecToDollars "></span>
    </td>

    <!-- spent -->
    <td class="text-right">
        <div class="pull-left text-info pointer" title="Show Transactions">
            <ec-icon
                type="question-sign"
                ng-click="vm.showTransactions(vm.allocation)">
            </ec-icon>
        </div>
        {{ vm.allocation.spent | ecToDollars }}
    </td>

    <!-- remaining -->
    <td class="text-right">
        <ec-amount-formatted amount="vm.allocation.amount - vm.allocation.spent"> </ec-amount-formatted>
    </td>

    <!-- standing order info or comment -->
    <td class="hidden-xs">
        <div ng-hide="vm.showStandingOrders">
            <em>
                <input type="text" ng-show="vm.isEditMode" ng-model="vm.allocation.comment" />
                <span ng-hide="vm.isEditMode" ng-bind="vm.allocation.comment"></span>
            </em>
        </div>

        <div ng-show="vm.showStandingOrders">
            <label ng-show="vm.isEditMode" >
               <input type="checkbox" ng-model="vm.allocation.is_standing_order" class="inline-checkbox">
               Standing Order?
           </label>
           <br/>
            <div ng-show="vm.allocation.is_standing_order">
                <em>From Bank Account: &nbsp; </em>
                <select ng-show="vm.isEditMode"
                        ng-model="vm.allocation.bank_account"
                        ng-change="vm.ref.updateReferenceId(vm.allocation, 'bank_account')"
                        ng-options="bankAccount.name for bankAccount in vm.bankAccounts track by bankAccount.id">
                </select>
                <strong ng-hide="vm.isEditMode" ng-bind="vm.allocation.bank_account.name"></strong>
            </div>
        </div>

    </td>

    <!-- actions -->
    <td>
        <span ng-hide="vm.allocation.deleted"
              ng-click="vm.markForDeletion(vm.allocation, true)"
              class="text-danger pull-right pointer">
            <ec-icon type="trash"></ec-icon>
        </span>
        <span ng-show="vm.allocation.deleted"
              ng-click="vm.markForDeletion(vm.allocation, false)"
              class="text-success pull-right pointer">
            <ec-icon type="refresh"></ec-icon>
        </span>
    </td>

</tr>
