<div class="row">
    <div class="col-xs-12">
        <ec-panel title="Allocations" type="primary">
            <table class="table table-bordered rounded">
            <thead>
                <tr class="heading">
                    <th>Name</th>
                    <th ng-show="">Category</th>
                    <th class="text-right">Amount</th>
                    <th class="text-right">Standing Order?</th>
                    <th>Bank Account</th>
                    <th>Actions</th>
                </tr>
            </thead>
                <tbody>
                    <tr class="category-heading" ng-repeat-start="category in vm.groupedAllocationCategories">
                        <td>{{ category.name }}</td>
                        <td ng-show=""></td>
                        <td class="text-right">{{ vm.actualTotalForCategory(category) | ecToDollars }}</td>
                        <td class="text-right">
                            <span class="label label-info">
                                Recommended: {{ vm.recommendedTotalForCategory(category) | ecToDollars }}
                            </span>
                            <br/>
                            <span class="label" ng-class="{ 'label-default': vm.unallocatedTotalForCategory(category) >= 0, 'label-danger': vm.unallocatedTotalForCategory(category) < 0 }">
                                Unallocated: {{ vm.unallocatedTotalForCategory(category) | ecToDollars }}
                            </span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="category-detail" ec-allocation-list-row
                        ng-repeat="allocation in category.allocations"
                        allocation="allocation"
                        is-edit-mode="vm.isEditMode">
                    </tr>
                    <tr class="category-action" ng-repeat-end>
                        <td colspan="6" ng-show="vm.isEditMode">
                            <button class="btn btn-primary" ng-click="vm.addNewAllocationInCategory(category)">
                                Add {{category.name}} Allocation
                            </button>
                        </td>
                    </tr>
                </tbody>
            <tfoot>
                <tr class="total">
                    <th>Total</th>
                    <th ng-show=""></th>
                    <th class="text-right">{{ vm.util.total(vm.budget.allocations, 'amount') | ecToDollars }}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
            </table>
            
            <table class="table table-bordered rounded">
                <tbody>
                  <tr>
                      <th class="text-right">Total Discretionary Amount</th>
                      <td class="text-right">{{ vm.totalDiscretionaryAmount() | ecToDollars }}</td>
                  </tr>
                  <tr>
                      <th class="text-right"> Pat's Amount</th>
                      <td class="text-right">{{ vm.totalDiscretionaryAmount() / 2 | ecToDollars }}</td>
                  </tr>
                  <tr>
                      <th class="text-right">Kion's Amount</th>
                      <td class="text-right">{{ vm.totalDiscretionaryAmount() / 2 | ecToDollars }}</td>
                  </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-xs-2">
                    <span ng-hide="vm.isEditMode">
                        <button class="btn btn-primary"
                                ng-click="vm.switchToEditMode()">
                            Make Changes
                        </button>
                    </span>
                </div>
                <div class="col-xs-10">
                    <div class="pull-right" ng-show="vm.isEditMode">
                        <button class="btn btn-success"
                                ng-click="vm.switchToViewMode()">
                            Back to View Mode
                        </button>
                        &nbsp;
                        &nbsp;
                        <button class="btn btn-danger"
                                ng-click="vm.cancelEdit()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </ec-panel>
    </div>
</div>

<br/>
