
<div class="row">
    <div class="col-xs-12">
        <ec-panel title="Incomes" type="primary">
            <table class="table table-bordered rounded">
            <thead>
                <tr class="heading">
                    <th>Name</th>
                    <th>Bank Account</th>
                    <th class="text-right">Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="income in vm.budget.incomes" ng-class="{ danger: income.deleted }">
                    <td>
                        <input type="text" ng-show="vm.isEditMode" ng-model="income.name" />
                        <span ng-hide="vm.isEditMode" ng-bind="income.name"></span>
                    </td>
                    <td>
                        <select ng-show="vm.isEditMode"
                                ng-model="income.bank_account"
                                ng-change="vm.ref.updateReferenceId(income, 'bank_account')"
                                ng-options="bankAccount.name for bankAccount in vm.bankAccounts track by bankAccount.id">
                        </select>
                        <span ng-hide="vm.isEditMode" ng-bind="income.bank_account.name"></span>
                    </td>
                    <td class="text-right">
                        <input type="number" ng-show="vm.isEditMode" ng-model="income.amount" ec-as-dollars />
                        <span ng-hide="vm.isEditMode" ng-bind="income.amount | ecToDollars"></span>
                    </td>
                    <td>
                        <span ng-hide="income.deleted"
                              ng-click="vm.markForDeletion(income, true)"
                              class="text-danger pull-right pointer">
                            <ec-icon type="trash"></ec-icon>
                        </span>
                        <span ng-show="income.deleted"
                              ng-click="vm.markForDeletion(income, false)"
                              class="text-success pull-right pointer">
                            <ec-icon type="refresh"></ec-icon>
                        </span>
                    </td>

                </tr>
            </tbody>
            <tfoot>
                <tr class="total">
                    <th>Total</th>
                    <th></th>
                    <th class="text-right">{{ vm.util.total(vm.budget.incomes, 'amount') | ecToDollars }}</th>
                    <th></th>
                </tr>
            </tfoot>
            </table>

            <div class="row">
                <div class="col-xs-2" ng-hide="vm.isEditMode">
                    <button class="btn btn-primary"
                            ng-click="vm.switchToEditMode()">
                        Make Changes
                    </button>
                </div>
                <div class="col-xs-3" ng-show="vm.isEditMode">
                    <button class="btn btn-primary"
                            ng-click="vm.addNewIncome()">
                        Add Income
                    </button>
                </div>
                <div class="col-xs-9">
                    <div class="pull-right" ng-show="vm.isEditMode">
                        <button class="btn btn-success"
                                ng-click="vm.switchToViewMode()">
                            Back to View Mode
                        </button>
                        &nbsp;
                        &nbsp;
                        <button class="btn btn-danger"
                                ng-click="vm.cancelEdit()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </ec-panel>
    </div>
</div>

<br/>
