
<div class="row">
    <div class="col-xs-12">
        <h2>Bank Accounts</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered clear-background">
        <thead>
            <tr class="heading">
                <th>Name</th>
                <th>Institution</th>
                <th>Account Type</th>
                <th>Account #</th>
                <th>Owner</th>
                <th>Opening Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bankAccount in vm.bankAccounts">
                <td> {{ bankAccount.name }} </td>
                <td> {{ bankAccount.institution.name }} </td>
                <td> {{ bankAccount.account_type }} </td>
                <td> {{ bankAccount.account_no }} </td>
                <td> {{ bankAccount.user.first_name + ' ' + bankAccount.user.last_name }} </td>
                <td> {{ bankAccount.opening_balance }} </td>
    
                <td>
                    <span ng-click="vm.deleteBankAccount(bankAccount)"
                          class="text-danger pull-right pointer">
                        <ec-icon type="trash"></ec-icon>
                    </span>
    
                    <span ng-click="vm.selectBankAccountForUpdate(bankAccount)"
                          class="text-warning pull-right pointer">
                        <ec-icon type="edit"></ec-icon>
                        &nbsp;
                        Edit
                        &nbsp; &nbsp; &nbsp;
                    </span>
                </td>
    
            </tr>
        </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-1" ng-show="vm.state.is('bank-accounts')">
        <button class="btn btn-primary"
                ng-click="vm.state.goToState('bank-accounts.new')">
            Add New Bank Account
        </button>
    </div>
    <div class="col-xs-1" ng-show="vm.state.is('bank-accounts.new')">
        <button class="btn btn-default"
                ng-click="vm.state.goToState('bank-accounts')">
            Cancel
        </button>
    </div>
</div>

<br/>

<ui-view></ui-view>
